.pets__container {
  display: flex;
  margin: 60px 0;
  padding: 0;
  position: relative;
  max-width: 1200px;
  background-color: #f6f6f6;
}

@media screen and (max-width: 1250px) {
  .pets__container {
    margin: 60px auto;
    max-width: 708px;
    justify-content: start;
  }
}

@media screen and (max-width: 750px) {
  .pets__container {
    margin: 42px auto;
    max-width: 270px;
    height: 503px;
  }
}
