.help__list {
  margin: 59px 87px 0;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 1250px) {
  .help__list {
    margin-left: auto;
    margin-right: auto;
    width: 630px;
  }
}

@media screen and (max-width: 750px) {
  .help__list {
    width: 290px;
    margin: 42px auto;
  }
}
