@import url(./__burger/wrapper__burger.css);
@import url(./__burger/_active/wrapper__burger_active.css);

.wrapper {
  margin: 0;
  padding: 0;
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}
