.header__logo {
  margin: 0;
  padding: 0;
}

.header__logo:hover {
  cursor: pointer;
}

.header__logo:hover .header__title_link {
  color: #fddcc4;
}

@media screen and (max-width: 768px) {
  .header__logo_burger {
    margin: 0 38px 0 0;
    width: 184px;
  }
}
