.startscreen__button {
  margin: 0;
  padding: 15px 45px;
  width: 208px;
  box-sizing: border-box;
  border: none;
  border-radius: 100px;
  background-color: #f1cdb3;
  font-family: 'Georgia';
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.06em;
  text-decoration: none;
  display: block;
}

.startscreen__button:hover {
  cursor: pointer;
  background-color: #fddcc4;
}

@media screen and (max-width: 1250px) {
  .startscreen__button {
    margin: 0 auto;
  }
}
