@import url(./_start/about__text_start.css);
@import url(./_finish/about__text_finish.css);

.about__text {
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}

@media screen and (max-width: 750px) {
  .about__text {
    text-align: justify;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
}
