@keyframes slide-out {
  from {
    top: 0;
    right: -320px;
  }

  to {
    top: 0;
    right: 0;
  }
}

.wrapper__burger_active {
  right: 0;
  z-index: 2;
  animation-duration: 1s;
  animation-name: slide-out;
}

@media screen and (min-width: 768px) {
  .wrapper__burger_active {
    display: none;
  }
}
