.header__title_link {
  text-decoration: none;
  font-family: "Georgia";
  font-size: 32px;
  font-weight: normal;
  line-height: 110%;
  color: #545454;
  letter-spacing: 0.06em;
  transition: color 0.3s linear;
}

.header__title_link:hover {
  cursor: pointer;
  color: #292929;
}
